/* SETEOS */
:root {
  --blue: #1e90ff;
  --orange: #fe4a37;
  --grey: #f3efee;
  --greyDark: #6a7587;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--grey);
}

/* NAVBAR */
header .navbar {
  padding: 1.5rem 0 1rem 0;
  display: flex;
  justify-content: space-around;

  position: fixed;
  width: 100%;
}

header nav .menu,
.menu_contacto {
  display: flex;
  align-items: center;
}

header nav .menu_contacto {
  background-color: var(--black);
  border-radius: 3px;
  padding: 8px 10px;
  transition: all 0.3s ease-in-out;
}

header nav .menu_contacto:hover {
  background-color: var(--orange);
}

header nav .menu_contacto a:last-child {
  color: white;
  padding: 7px;
}

header nav .menu_contacto a:last-child:hover {
  color: white;
  content: none;
}

header > nav > .menu > ul {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 0.1875rem;
}

header nav .menu > ul > li > a {
  padding: 0px 5px;
  color: black;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease-in-out;
  /* text-transform: uppercase; */
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  transition: 0.4s ease-in-out;
}

.menu_principal ul li a::after {
  content: " ";
  display: inline-block;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  margin: 0 auto;
  width: 0%;
  background: var(--orange);
  transition: 0.4s ease-out;
}
.menu_principal ul > li > a:hover::after {
  width: 100%;
}

/* HERO */
.hero_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  margin: 0px auto;
  max-width: 65rem;
  padding: 10rem 0px 8rem;
}

.hero_texto h1 {
  font-size: 4.5rem;
  font-weight: 800;
  color: var(--black);
  line-height: 80px;
}
.hero_texto h1 + p {
  font-size: 1.3rem;
  margin-top: 10px;
  font-weight: 400;
  color: var(--greyDark);
}

.boton_descarga {
  width: 23rem;
  margin-top: 2rem;

  display: flex;
  gap: 10px;
}
.AppStore img,
.PlayStore img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}
.AppStore img:hover,
.PlayStore img:hover {
  transform: scale(0.97);
}

/* About */
#about {
  display: flex;
  gap: 3rem;

  padding: 5rem 0 10rem;
  margin: 0 auto;
  max-width: 60rem;
}

#about img {
  transition: all 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
}
#about img:hover {
  transform: perspective(600px) rotateX(4deg) rotateY(10deg) scale3d(1, 1, 1);
  cursor: pointer;
}

#about .title_about {
  font-size: 2rem;
  font-weight: 800;
  color: var(--Dark);
}
#about .about_texto > p {
  font-size: 1.3125rem;
  margin-top: 5px;
}

#about .about_texto {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.items_about {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}

.detalle_header {
    top: 0;
    left: -11rem;
    width: 60rem;
    height: 30rem;
    position: absolute;
    transform: rotate(43deg);
    z-index: -1;
    
    opacity: 0.04;
    background: rgb(52, 51, 72);
    border-radius: 25rem;
}


.items_about p {
  color: var(--greyDark);
}
.items_about p {
  margin-top: 8px;
  display: flex;
}
.historias {
  flex-basis: 800px;
}
.items_about h2::before {
  content: ".";
  color: var(--orange);
  padding: 0px 2px;
  margin-right: 5px;
  background-color: var(--orange);
}

.border {
  border-bottom: 2px solid rgb(213, 213, 213);
  width: 80%;
  margin: 0 auto;
}
